/* ------------------------------------------- variables */
/* ------------------------------------------- variables */
/* ------------------------------------------- mixins */
/* ------------------------------------------- general */
* {
  box-sizing: border-box;
}
html {
  font-size: 10pt;
}
html,
body {
  background: #f1f1f1;
  font-weight: 100;
  text-align: center;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
a {
  text-decoration: none;
}
.content {
  padding-top: 70px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  text-align: left;
}
.inlineBlock {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
/* ------------------------------------------- forms */
.search-invitation {
  margin-right: 0 !important;
  position: relative;
}
.search-invitation form {
  position: relative;
}
.search-invitation form input[type="text"],
.search-invitation form input[type="email"] {
  width: 260px;
}
.search-invitation input {
  border: none;
  outline: none;
  line-height: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}
.search-invitation input[type="text"],
.search-invitation input[type="email"] {
  background: #ffffff;
  border: none;
  color: #252525;
  padding: 0 40px 0 15px;
  width: 100%;
  outline: none;
}
.search-invitation input[type="submit"] {
  background: transparent;
  color: #959595;
  cursor: pointer;
  width: 40px;
  z-index: 1;
}
.search-invitation .icon {
  color: #959595;
  height: 40px;
  width: 40px;
  font-size: 1.2em;
  line-height: 40px;
  text-align: center;
  z-index: 0;
}
.search-invitation .icon,
.search-invitation input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
}
/* ------------------------------------------- ctas */
.cta {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  font-size: .9em;
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.cta.white {
  background: #ffffff;
  color: #959595;
}
.cta.white:hover {
  background: #bfd730;
  color: #ffffff;
}
.cta.green-bf {
  background: #bfd730;
  color: #ffffff;
}
.cta.green-bf:hover {
  background: #bfd730;
  color: #ffffff;
}
.cta.green-38 {
  background: #38b89c;
  color: #ffffff;
}
.cta.green-38:hover {
  background: #bfd730;
  color: #ffffff;
}
.cta.grey-95 {
  background: #959595;
  color: #ffffff;
}
.cta.grey-95:hover {
  background: #bfd730;
  color: #ffffff;
}
.cta.grey-25 {
  background: #252525;
  color: #ffffff;
}
.cta.grey-25:hover {
  background: #bfd730;
  color: #ffffff;
}
/* ------------------------------------------- navigation */
.header-height {
  height: 70px;
  line-height: 70px;
}
.navigation {
  height: 70px;
  line-height: 70px;
}
.navigation .header {
  height: 70px;
  line-height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navigation .header .wrapper {
  height: 70px;
  line-height: 70px;
}
.navigation .header .wrapper .student-menu {
  float: right;
}
.navigation .header .wrapper .student-menu .cta.green-38 {
  margin-right: 20px;
}
.navigation .header a {
  color: #ffffff;
}
.navigation .header .logo {
  background: url('../img/logo-te-salve.svg') 0 0 no-repeat;
  display: inline-block;
  margin-top: 22.5px;
  height: 25px;
  width: 100px;
  text-indent: -9999px;
}
.navigation .header .user-menu {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: #252525;
  float: right;
  height: 70px;
  overflow: hidden;
}
.navigation .header .user-menu li a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  height: 70px;
  padding: 0 30px;
  width: 260px;
}
.navigation .header .user-menu li a span {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
  display: inline-block;
  width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navigation .header .user-menu li a .icon {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
  height: 20px;
  margin-top: 25px;
  width: 20px;
  float: right;
  font-size: 1.5em;
}
.navigation .header .user-menu li a:hover {
  padding: 0 25px;
}
.navigation .header .user-menu li a:hover span,
.navigation .header .user-menu li a:hover .icon {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.navigation .header .user-menu li:nth-child(1) {
  background: #d83d3e;
}
.navigation .header .user-menu li:nth-child(2) {
  background: #4f5872;
}
.navigation .header .user-menu li:nth-child(3) {
  background: #bfd730;
}
.navigation .header .user-menu li:nth-child(4) {
  background: #38b89c;
}
.navigation .header .user-menu li:nth-child(5) {
  background: #252525;
}
.navigation .header .user-menu li:nth-child(6) {
  background: #ee2e60;
}
.navigation .header:before {
  height: 70px;
  line-height: 70px;
  content: "";
  display: block;
  position: absolute;
  background: #ef4249;
  left: 0;
  right: 0;
}
/* ------------------------------------------- lateral menu */
.lateral-menu {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 15%;
  position: relative;
}
.lateral-menu ul {
  position: relative;
  z-index: 1;
}
.lateral-menu ul li a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 70px;
  line-height: 70px;
  border-right: 0 solid #ef4249;
  color: #ffffff;
  display: block;
  padding-left: 0;
  position: relative;
}
.lateral-menu ul li a .icon {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  position: relative;
  top: 1px;
  margin-right: 15px;
}
.lateral-menu ul li a:hover {
  border-right: 5px solid #ef4249;
  color: #ef4249;
  padding-left: 10px;
}
.lateral-menu ul li a:hover .icon {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  color: #ef4249;
}
.lateral-menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  background: #252525;
  left: -9999px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.lateral-menu ul li a.selected {
  background: #f1f1f1;
  border-right: 0 solid #f1f1f1;
  color: #ef4249;
  font-weight: 600;
}
.lateral-menu ul li a.selected .icon {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.lateral-menu ul li a.selected:hover {
  cursor: default;
  padding-left: 0;
}
.lateral-menu ul li a.selected:before {
  background: #f1f1f1;
}
.lateral-menu .bck {
  background: #252525;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.lateral-menu .bck:before {
  content: "";
  display: block;
  position: absolute;
  background: #252525;
  left: -9999px;
  right: 0;
  top: 0;
  bottom: 0;
}
/* ------------------------------------------- popup */
.popup {
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.popup .focus {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}
.popup .content {
  position: relative;
  background: #f1f1f1;
  padding: 30px;
  max-width: 600px;
  margin: 30px auto 0;
  text-align: left;
  z-index: 2;
}
.popup .content h3 {
  font-weight: 400;
  font-size: 1.5em;
}
.popup .content .icon-close {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  right: 30px;
  font-size: 1.5em;
  font-weight: 400;
  color: #959595;
  cursor: pointer;
}
.popup .content .icon-close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #ef4249;
}
.popup .content .subjects-list {
  margin: 30px 0 10px 0;
  text-align: center;
}
.popup .content .subjects-list li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background: #ffffff;
  width: 45%;
  margin: 0 10px 20px;
  cursor: pointer;
}
.popup .content .subjects-list li .icon-notebook {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  font-size: 2em;
  margin: 20px;
  color: #f1f1f1;
}
.popup .content .subjects-list li .label {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  line-height: 35px;
  display: block;
  height: 35px;
}
.popup .content .subjects-list li:hover .icon-notebook {
  color: #bfd730;
}
.popup .content .subjects-list li:hover .label {
  background: #bfd730;
}
.popup .content .actions-footer {
  margin: 0;
}
/* ------------------------------------------- full content, right content */
.full-content h1,
.right-content h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.full-content h2,
.right-content h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 50px 0 15px 0;
}
.full-content {
  padding-top: 30px;
}
.right-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 30px 0 0 30px;
  width: 100%;
  max-width: 85%;
}
/* ------------------------------------------- charts */
.charts {
  margin: 0 -15px;
  text-align: center;
}
.charts li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  max-width: 30.04%;
  width: 100%;
  margin: 30px 15px 0 15px;
}
.chart {
  background: #ffffff;
  padding: 25px;
  text-align: left;
}
.chart i {
  display: inline-block;
  font-size: 5em;
  color: #f1f1f1;
}
.chart .info {
  display: inline-block;
  text-align: right;
  float: right;
  vertical-align: top;
}
.chart .info span {
  display: block;
}
.chart .info .number {
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 10px;
}
.label {
  background: #38b89c;
  color: #ffffff;
  height: 60px;
}
.label a {
  line-height: 60px;
  color: #fff;
  font-size: 1.2em;
  text-align: left;
  display: block;
  padding: 0 20px;
}
.label a i {
  float: right;
  position: relative;
  top: 22px;
}
/* ------------------------------------------- breadcrumb */
.breadcrumb {
  margin: 0 0 30px 0;
}
.breadcrumb ul li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  position: relative;
}
.breadcrumb ul li a {
  color: #252525;
  font-size: .9em;
  text-decoration: underline;
}
.breadcrumb ul li + li {
  margin-left: 25px;
}
.breadcrumb ul li + li:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  content: ">";
  color: #959595;
  top: 1px;
  left: -15px;
  font-size: .8em;
}
/* ------------------------------------------- actions footer */
.actions-footer {
  margin: 0 0 30px;
  overflow: hidden;
}
.actions-footer hr {
  margin: 0 0 30px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #ffffff;
}
.actions-footer .left-side {
  float: left;
  text-align: left;
}
.actions-footer .right-side {
  float: right;
  text-align: right;
}
.actions-footer .cta + .cta {
  margin-left: 20px;
}
/* ------------------------------------------- tabs */
.tabs hr {
  margin: 0 0 30px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #ffffff;
}
/* ------------------------------------------- tables */
.table .filters-actions {
  text-align: right;
}
.table .filters-actions .cta,
.table .filters-actions .search-invitation {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.table .filters-actions .cta.alone {
  margin-right: 0;
}
.table .filters-actions .cta + .cta,
.table .filters-actions .cta + .search-invitation {
  margin-left: 30px;
}
.table .list {
  border-collapse: collapse;
  margin: 15px 0 35px 0;
  width: 100%;
  /* header */

  /* background */

  /* rows */

  /* table > table */

}
.table .list th {
  background: #bfd730;
  color: #ffffff;
  font-size: 1.2em;
}
.table .list tr {
  background: #ffffff;
  position: relative;
}
.table .list tr .list tr {
  background: #ffffff;
}
.table .list tr:nth-of-type(odd) {
  background: #ebebeb;
}
.table .list tr:nth-of-type(odd) .list tr {
  background: #ebebeb;
}
.table .list tr:nth-of-type(odd) .list hr {
  border-top: 1px solid #ffffff;
}
.table .list td {
  position: relative;
  /* rows content */

}
.table .list td .icon {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  -ms-opacity: 0.3;
  -o-opacity: 0.3;
  opacity: 0.3;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  color: #252525;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 60px;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.table .list td .icon:hover {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  -ms-opacity: 1 !important;
  -o-opacity: 1 !important;
  opacity: 1 !important;
  color: #252525;
}
.table .list td a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  color: #959595;
  line-height: 60px;
  height: 60px;
  width: 85%;
  overflow: hidden;
  position: relative;
  word-break: break-all;
  padding-right: 15px;
}
.table .list td a:hover {
  color: #252525;
  text-decoration: underline;
}
.table .list td .ellipsis-patch:before {
  content: "";
  display: block;
  position: absolute;
  content: "...";
  right: 0;
  letter-spacing: 1px;
}
.table .list td .right-actions {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 2;
  overflow: hidden;
}
.table .list td .right-actions .icon {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  line-height: 60px;
  margin: 0 2.5px;
  top: 0;
  width: 30px;
  text-align: center;
}
.table .list td .right-actions .icon-trash {
  right: -30px;
}
.table .list td .right-actions .icon-pencil {
  right: -20px;
}
.table .list td .right-actions .icon-plus {
  right: -10px;
}
.table .list td .right-actions .icon-trash,
.table .list td .right-actions .icon-pencil,
.table .list td .right-actions .icon-plus {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  color: #ffffff;
  width: 0;
  overflow: hidden;
}
.table .list td .right-actions .icon-trash:hover,
.table .list td .right-actions .icon-pencil:hover,
.table .list td .right-actions .icon-plus:hover {
  color: #bfd730;
}
.table .list td .right-actions .bck {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #000000;
  left: 115px;
  right: 25px;
  top: 5px;
  bottom: 5px;
  position: absolute;
  z-index: -1;
}
.table .list td,
.table .list th {
  padding: 0 20px;
  text-align: left;
  vertical-align: middle;
  line-height: 60px;
  max-width: 200px;
}
.table .list .list {
  display: none;
  margin: 0;
  /* background */

}
.table .list .list hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 0;
  margin: 0;
}
.subject-input-name .input-name {
  display: inline-block;
  position: relative;
  width: 100%;
}
.subject-input-name .input-name input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #959595;
  line-height: 30px;
  outline: none;
  padding: 0 60px 0 0;
  width: 100%;
}
.subject-input-name .input-name input[type="submit"] {
  background: transparent;
  outline: none;
  z-index: 1;
}
.subject-input-name .input-name .icon-check {
  color: #bfd730;
  right: 0;
}
.subject-input-name .input-name .icon-close {
  color: #ef4249;
  right: 30px;
}
.subject-input-name .input-name input[type="submit"],
.subject-input-name .input-name .icon-check,
.subject-input-name .input-name .icon-close {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  border: 0;
  cursor: pointer;
  top: 0;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 0 -5px 0 0;
  padding: 0;
  position: absolute;
  text-align: center;
}
.subject-input-name .input-name form input[type="text"] {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
.input-name {
  display: inline-block;
  position: relative;
  width: 100%;
}
.input-name input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #959595;
  line-height: 30px;
  outline: none;
  padding: 0 60px 0 0;
  width: 100%;
}
.input-name input[type="submit"] {
  background: transparent;
  outline: none;
  z-index: 1;
}
.input-name .icon-check {
  color: #bfd730;
  right: 0;
}
.input-name .icon-close {
  color: #ef4249;
  right: 30px;
}
.input-name input[type="submit"],
.input-name .icon-check,
.input-name .icon-close {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  border: 0;
  cursor: pointer;
  top: 0;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 0 -5px 0 0;
  padding: 0;
  position: absolute;
  text-align: center;
}
.input-name form input[type="text"] {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
.table.empty td {
  color: #959595;
  text-align: center;
}
.table.empty td span {
  cursor: default;
}
.table.create-edit .list td input[type="checkbox"] {
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.table.create-edit .list td .input-name {
  display: inline-block;
  position: relative;
  width: 100%;
}
.table.create-edit .list td .input-name input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #959595;
  line-height: 30px;
  outline: none;
  padding: 0 60px 0 0;
  width: 100%;
}
.table.create-edit .list td .input-name input[type="submit"] {
  background: transparent;
  outline: none;
  z-index: 1;
}
.table.create-edit .list td .input-name .icon-check {
  color: #bfd730;
  right: 0;
}
.table.create-edit .list td .input-name .icon-close {
  color: #ef4249;
  right: 30px;
}
.table.create-edit .list td .input-name input[type="submit"],
.table.create-edit .list td .input-name .icon-check,
.table.create-edit .list td .input-name .icon-close {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  border: 0;
  cursor: pointer;
  top: 0;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 0 -5px 0 0;
  padding: 0;
  position: absolute;
  text-align: center;
}
.table.create-edit .list td .input-name form input[type="text"] {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
.table.create-edit .list td .input-name {
  width: 85%;
}
.table.create-edit .list td .input-name .icon-close,
.table.create-edit .list td .input-name .icon-check {
  top: 15px;
}
.table.topics .list tr.pending span,
.table.people .list tr.pending span,
.table.files .list tr.pending span,
.table.review .list tr.pending span {
  color: #ee2e60;
}
.table.topics .list td span,
.table.people .list td span,
.table.files .list td span,
.table.review .list td span {
  color: #959595;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.table.topics .list td span.link,
.table.people .list td span.link,
.table.files .list td span.link,
.table.review .list td span.link {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  position: relative;
  text-decoration: underline;
}
.table.topics .list td span.link .icon,
.table.people .list td span.link .icon,
.table.files .list td span.link .icon,
.table.review .list td span.link .icon {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  color: #ee2e60;
  margin-left: 10px;
  top: 0;
}
.table.topics .list td span.link:hover,
.table.people .list td span.link:hover,
.table.files .list td span.link:hover,
.table.review .list td span.link:hover {
  color: #bfd730;
}
.table.topics .list td span.link:hover .icon,
.table.people .list td span.link:hover .icon,
.table.files .list td span.link:hover .icon,
.table.review .list td span.link:hover .icon {
  color: #bfd730;
}
.table.topics .list td .right-actions .icon-trash,
.table.people .list td .right-actions .icon-trash,
.table.files .list td .right-actions .icon-trash,
.table.review .list td .right-actions .icon-trash {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  -ms-opacity: 0.3;
  -o-opacity: 0.3;
  opacity: 0.3;
  width: 30px;
  right: 0;
  overflow: inherit;
  color: #252525;
}
.table.topics .list td .icon-folder,
.table.topics .list td .icon-folder + span,
.table.topics .list td .icon-folder-alt,
.table.topics .list td .icon-folder-alt + span {
  float: left;
}
.table.topics .list td .icon-folder + span,
.table.topics .list td .icon-folder-alt + span {
  width: 84%;
}
.table.topics .list td input[type="checkbox"] {
  margin-top: 23px;
  margin-right: 10px;
}
.table.topics .list td input[type="checkbox"] {
  float: left;
}
.table.topics .list td input[type="checkbox"] + span,
.table.topics .list td input[type="checkbox"] + i + span {
  width: 80% !important;
}
.table.review .list tr.correct td span {
  color: #38b89c;
}
.table.review .list tr.wrong td span {
  color: #ef4249;
}
.navigation-table {
  margin: 20px 0 35px 0;
}
.navigation-table ul {
  text-align: center;
}
.navigation-table ul li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  margin: 0 5px;
}
.navigation-table ul li span {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #ffffff;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.navigation-table ul li span:hover {
  background: #bfd730;
  border-color: #bfd730;
  color: #ffffff;
}
.navigation-table ul li .selected {
  background: #ffffff;
}
.navigation-table ul li .selected:hover {
  background: inherit;
  border-color: inherit;
  color: inherit;
}
.extra-options {
  text-align: center;
  margin-bottom: 50px;
}
.extra-options .box {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  max-width: 33.1%;
  width: 100%;
  margin: 0;
  text-align: left;
}
.extra-options .box .title {
  display: block;
  font-weight: 600;
  margin-bottom: 30px;
}
.extra-options .box ul li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  margin: 0;
}
.extra-options .box ul li label {
  cursor: pointer;
}
.extra-options .box ul li label input[type="radio"],
.extra-options .box ul li label input[type="checkbox"] {
  position: relative;
  top: -1px;
  margin-right: 10px;
}
.extra-options .box ul li label input[type="radio"]:checked + span,
.extra-options .box ul li label input[type="checkbox"]:checked + span {
  color: #252525;
}
.extra-options .box ul li label input[type="text"] {
  line-height: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-right: 10px;
}
.extra-options .box ul li label span {
  color: #959595;
}
.extra-options .box ul li + li {
  margin-left: 20px;
}
/* ------------------------------------------- create question */
/* topics selection */
.inputs-40 {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.topic-selection {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: #ffffff;
  height: 40px;
  margin: 30px 0 20px 0;
  position: relative;
  overflow: hidden;
}
.topic-selection .select {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  color: #252525;
}
.topic-selection .select .empty {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #959595;
  display: inline-block;
}
.topic-selection .select span {
  position: relative;
  display: inline-block;
}
.topic-selection .select span + span:before {
  content: "";
  display: block;
  position: absolute;
  display: inline-block;
  position: relative;
  content: ", ";
  margin-right: 5px;
}
.topic-selection .select .icon {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #252525;
  height: 40px;
  line-height: 40px;
  float: right;
  font-size: .6em;
}
.topic-selection .select .icon:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  top: 2px;
}
.topic-selection .select:hover {
  color: #bfd730;
}
.topic-selection .select:hover .empty {
  color: #bfd730;
}
.topic-selection .search-invitation input[type="text"] {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.topic-selection .topics {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
.topic-selection .topics div:nth-of-type(odd) {
  background: #ebebeb;
}
.topic-selection .topics .topic {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.topic-selection .topics .subtopic {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  padding-left: 20px;
}
.topic-selection .topics .topic input[type="checkbox"],
.topic-selection .topics .subtopic input[type="checkbox"] {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.topic-selection .topics .topic input[type="checkbox"]:checked + .name,
.topic-selection .topics .subtopic input[type="checkbox"]:checked + .name {
  color: #252525;
}
.topic-selection .topics .topic .name,
.topic-selection .topics .subtopic .name {
  color: #959595;
}
/* question */
.question {
  margin: 0 0 20px 0;
  position: relative;
}
.question input[type="text"] {
  background: #ffffff;
  border: none;
  outline: none;
  line-height: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  color: #252525;
  padding: 0 30px 0 15px;
  width: 95%;
}
.question .question-mark {
  line-height: 40px;
  width: 25px;
  text-align: center;
  display: inline-block;
  margin-left: 17px;
}
/* answers */
.answers ul li {
  position: relative;
}
.answers ul li input[type='radio'] {
  margin-right: 5px;
}
.answers ul li .id {
  color: #959595;
  display: inline-block;
  margin-right: 10px;
}
.answers ul li input[type='text'] {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-flex;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  width: 90%;
  padding: 0 10px 0 0;
  outline: none;
}
.answers ul li .legend {
  display: block;
  font-size: .9em;
  font-style: italic;
  margin: 20px 0 30px 0;
}
/* feedback */
.feedback {
  margin-bottom: 30px;
  position: relative;
}
.feedback textarea {
  padding: 10px;
  border: none;
  width: 100%;
  height: 100px;
}
.feedback .file-action {
  right: 0;
}
.feedback .file-action .icon {
  background: #ffffff;
}
/* file action button */
.file-action {
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  width: 40px;
}
.file-action input[type='file'] {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  cursor: pointer;
  padding: 40px 0 0 40px;
  z-index: 2;
}
.file-action input[type='file']:hover + .icon:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.file-action .icon {
  background: #f1f1f1;
  color: #252525;
  z-index: 1;
}
.file-action .icon:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  -ms-opacity: 0.3;
  -o-opacity: 0.3;
  opacity: 0.3;
}
.file-action input[type='file'],
.file-action .icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 40px;
}
/* ------------------------------------------- exercise */
.exercise .intro {
  margin-bottom: 50px;
}
.exercise .intro .excercise-name input[type="text"] {
  border: none;
  outline: none;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  margin: 0;
  background: #ffffff;
  color: #252525;
  width: 100%;
}
.exercise .intro .excercise-name,
.exercise .intro p {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 48%;
  margin-top: 30px;
  margin-right: 0;
}
.exercise .intro p {
  line-height: 20px;
  float: right;
}
.exercise .question-results {
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}
.exercise .question-results p {
  float: left;
  width: 60%;
  line-height: 20px;
}
.exercise .question-results .results {
  float: right;
}
.exercise .answers-list {
  margin-bottom: 40px;
}
.exercise .answers-list li {
  position: relative;
}
.exercise .answers-list li label {
  cursor: pointer;
}
.exercise .answers-list li label .id,
.exercise .answers-list li label input,
.exercise .answers-list li label .answer {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  margin-right: 10px;
}
.exercise .answers-list li label .answer {
  width: 70%;
  line-height: 20px;
  position: relative;
  top: -2px;
}
.exercise .answers-list li label .cta.green-bf {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: relative;
  top: -12px;
}
.exercise .answers-list li label .cta.green-bf:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #bfd730 transparent transparent;
  left: -5px;
  top: 50%;
  margin-top: -5px;
}
.exercise .answers-list li label.unselected {
  color: #959595;
}
.exercise .answers-list li label.selected {
  color: #252525;
}
.exercise .answers-list li label.selected .cta.green-bf {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.exercise .answers-list li label.wrong {
  color: #ef4249;
}
.exercise .answers-list li label.correct {
  color: #bfd730;
}
.exercise .answers-list li + li {
  margin-top: 15px;
}
.exercise .explanation h2 {
  margin: 0 0 15px;
  font-size: 1em;
}
.exercise .explanation p {
  margin-bottom: 30px;
  line-height: 20px;
  text-align: center;
  padding: 0 100px;
  font-style: italic;
}
/* ------------------------------------------- students */
.left-table .list {
  margin: 0;
}
.left-table .list tr > td:last-child {
  text-align: right;
}
.score .chart {
  height: 180px;
}
.score + .score,
.left-table + .score {
  float: right;
}
.score,
.left-table {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 48%;
  margin-top: 30px;
  margin-right: 0;
}
.graphics {
  margin-bottom: 50px;
}
/* ------------------------------------------- responsive */
/* tables */
@media only screen and (max-width: 910px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  table tbody tr:first-child {
    display: none;
  }
  table .list tbody tr:first-child {
    display: block;
  }
  tr:first-child + tr {
    border-top: none;
  }
  .table .list tr td .list tr td .right-actions,
  .table .list tr:nth-of-type(odd) td .list tr td .right-actions {
    top: 1px;
  }
  .table .list td,
  .table .list th {
    max-width: 95%;
    padding: 0 20px 0 105px;
  }
  td:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    background: #bfd730;
    color: #fff;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table .list td .icon.icon-folder + a,
  .table .list td .icon.icon-folder-alt + a {
    margin-left: 0;
  }
  .table .list td.table-actions {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .table.topics .list td .icon-folder,
  .table.topics .list td .icon-folder + span,
  .table.topics .list td .icon-folder-alt,
  .table.topics .list td .icon-folder-alt + span {
    float: inherit;
  }
  .table .left-table .list td,
  .table .left-table .list th {
    padding: 0 20px;
    display: block;
    font-weight: 600;
    text-align: left !important;
    line-height: 45px;
  }
  .table .left-table .list td:last-child,
  .table .left-table .list th:last-child {
    margin-top: -20px;
    font-weight: 100;
  }
  /* labels */
  .table.subjects .list td:nth-of-type(1):before {
    content: "Nombre";
  }
  .table.questions .list td:nth-of-type(1):before {
    content: "Pregunta";
  }
  .table.review .list td:nth-of-type(1):before {
    content: "Pregunta";
  }
  .table.review .list td:nth-of-type(2):before {
    content: "Puntos";
  }
  .table.review .list td:nth-of-type(3):before {
    content: "Respuesta";
  }
  .table.review .list td:nth-of-type(4):before {
    content: "Review";
  }
  .table.people .list td:nth-of-type(1):before {
    content: "Nombre";
  }
  .table.people .list td:nth-of-type(2):before {
    content: "Correo";
  }
  .table.people .list td:nth-of-type(3):before {
    content: "Invitación";
  }
  .table.people .list td:nth-of-type(4):before {
    content: "";
  }
  .table.files .list td:nth-of-type(1):before {
    content: "Nombre";
  }
  .table.files .list td:nth-of-type(2):before {
    content: "Materia";
  }
  .table.files .list td:nth-of-type(3):before {
    content: "Tema";
  }
  .table.topics .list td:nth-of-type(1):before {
    content: "Nombre";
  }
  .table.topics .list td:nth-of-type(2):before {
    content: "";
  }
  .table.topics .list td:nth-of-type(3):before {
    content: "Puntos";
  }
  .table.topics .list td:nth-of-type(4):before {
    content: "Preguntas";
  }
  .table.topics .list td:nth-of-type(5):before {
    content: "Comienzo";
  }
  .table.topics .list td:nth-of-type(6):before {
    content: "Tiempo";
  }
  .table.topics .list td:nth-of-type(7):before {
    content: "Estado";
  }
}
@media (max-width: 1200px) {
  .right-content .charts li {
    max-width: 40%;
  }
}
@media (max-width: 1130px) {
  .extra-options {
    margin-bottom: 30px;
  }
  .extra-options .box {
    max-width: 40%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1105px) {
  .actions-footer .left-side .cta + .cta,
  .actions-footer .right-side .cta + .cta {
    margin-top: 10px;
  }
  .actions-footer .left-side .cta,
  .actions-footer .right-side .cta {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 1050px) {
  .table .list td a {
    width: 70%;
  }
}
@media (max-width: 940px) {
  .extra-options .box {
    max-width: 100%;
    text-align: center;
  }
  .extra-options .box:nth-child(2) .title {
    display: none;
  }
}
@media (max-width: 810px) {
  .lateral-menu {
    width: 38px;
    position: fixed;
  }
  .right-content {
    max-width: 100%;
    padding-left: 68px;
  }
  .lateral-menu ul li a:hover {
    padding-left: 0;
  }
  .lateral-menu ul li a span {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  .lateral-menu ul li a .icon {
    margin-right: 25px;
  }
}
@media (max-width: 785px) {
  .table.create-edit .list td .input-name {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .right-content .charts {
    margin: 0;
  }
  .right-content .charts li {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 620px) {
  .navigation .header .wrapper .student-menu .cta.green-38 {
    display: none;
  }
}
@media (max-width: 600px) {
  .exercise .intro .excercise-name,
  .exercise .intro p {
    display: block;
    width: 100%;
    float: inherit;
  }
}
@media (max-width: 580px) {
  .table .filters-actions .cta {
    margin-right: 0;
  }
  .table .filters-actions .search-invitation {
    display: block;
    margin-top: 10px;
  }
  .table .filters-actions .cta + .cta,
  .table .filters-actions .cta + .search-invitation {
    margin-left: 0;
  }
  .search-invitation form input[type="text"],
  .search-invitation form input[type="email"] {
    width: 100%;
  }
  .table .list td .input-name,
  .table.create-edit .list td .input-name,
  .table .list td .icon + a {
    width: 90%;
  }
  .table .list td a {
    width: 100%;
  }
  .table .list td .right-actions {
    display: none;
  }
  .table .list td .icon + .input-name,
  .table.create-edit .list td .icon + .input-name {
    width: 80%;
  }
  .table .list td .icon.icon-folder {
    display: none;
  }
  .score,
  .left-table {
    width: 100%;
  }
  .score + .score,
  .left-table + .score {
    float: inherit;
  }
}
@media (max-width: 555px) {
  td:before {
    padding: 0 10px;
    font-size: .7em;
    width: 40px;
  }
  .table .list td,
  .table .list th {
    padding: 0 20px 0 70px;
  }
}
@media (max-width: 490px) {
  .actions-footer .left-side {
    float: none;
    padding-bottom: 20px;
    margin-bottom: 21px;
    border-bottom: 1px solid #f8f8f8;
  }
  .actions-footer .right-side {
    float: none;
  }
}
@media (max-width: 455px) {
  .content.wrapper {
    padding-bottom: 20px;
  }
  .navigation .header .user-menu li a {
    width: 80px;
  }
  .navigation .header .user-menu li a:hover {
    padding: 0 30px;
  }
  .navigation .header .user-menu li a span {
    display: none;
  }
  .right-content h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 400px) {
  .table .filters-actions {
    margin-top: 20px;
  }
  .table .filters-actions .cta {
    width: 100%;
    text-align: center;
  }
}
