/* ------------------------------------------- variables */
@white: #fff;
@black: #000;
@black-opacity: rgba(0,0,0,.7);
@red-ef: #ef4249;
@red-d8: #d83d3e;
@red-ee: #ee2e60;
@grey-f1: #f1f1f1;
@grey-f8: #f8f8f8;
@grey-95: #959595;
@grey-eb: #ebebeb;
@grey-e3: #e3e3e3;
@grey-25: #252525;
@green-38: #38b89c;
@green-bf: #bfd730;
@blue: #4f5872;

/* ------------------------------------------- mixins */

.transition (@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transitionDelay (@transition-delay) {
  -webkit-transition-delay: @transition-delay;
     -moz-transition-delay: @transition-delay;
      -ms-transition-delay: @transition-delay;
       -o-transition-delay: @transition-delay;
          transition-delay: @transition-delay;
}
.transitions (@transition1, @transition2) {
  -webkit-transition: @transition1, @transition2;
     -moz-transition: @transition1, @transition2;
      -ms-transition: @transition1, @transition2;
       -o-transition: @transition1, @transition2;
          transition: @transition1, @transition2;
}
.transform (@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}
.text-shadow (@textshadow) {
  -webkit-text-shadow: @textshadow;
     -moz-text-shadow: @textshadow;
      -ms-text-shadow: @textshadow;
       -o-text-shadow: @textshadow;
          text-shadow: @textshadow;
}
.box-shadow (@boxshadow) {
  -webkit-box-shadow: @boxshadow;
     -moz-box-shadow: @boxshadow;
      -ms-box-shadow: @boxshadow;
       -o-box-shadow: @boxshadow;
          box-shadow: @boxshadow;
}
.box-sizing (@boxsize) {
  -webkit-box-sizing: @boxsize;
     -moz-box-sizing: @boxsize;
      -ms-box-sizing: @boxsize;
       -o-box-sizing: @boxsize;
          box-sizing: @boxsize;
}
.filter (@filter) {
  -webkit-filter: @filter;
     -moz-filter: @filter;
      -ms-filter: @filter;
       -o-filter: @filter;
          filter: @filter;
}
.opacity (@opacity) {
  -webkit-opacity: @opacity;
     -moz-opacity: @opacity;
      -ms-opacity: @opacity;
       -o-opacity: @opacity;
          opacity: @opacity;
}
.backgroundsize (@backgroundsize) {
  -webkit-background-size: @backgroundsize;
     -moz-background-size: @backgroundsize;
      -ms-background-size: @backgroundsize;
       -o-background-size: @backgroundsize;
          background-size: @backgroundsize;
}
.border-radius (@borderradius) {
  -webkit-border-radius: @borderradius;
     -moz-border-radius: @borderradius;
      -ms-border-radius: @borderradius;
       -o-border-radius: @borderradius;
          border-radius: @borderradius;
}
.animation (@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
      -ms-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
.column-gap (@columngap) {
  -webkit-column-gap: @columngap;
     -moz-column-gap: @columngap;
      -ms-column-gap: @columngap;
       -o-column-gap: @columngap;
          column-gap: @columngap;
}
.column-count (@columncount) {
  -webkit-column-count: @columncount;
     -moz-column-count: @columncount;
      -ms-column-count: @columncount;
       -o-column-count: @columncount;
          column-count: @columncount;
}

/* ------------------------------------------- general */

* {
  box-sizing: border-box;
}
html {
  font-size: 10pt;
}
html, body {
  background: @grey-f1;
  font-weight: 100;
  text-align: center;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }
}
a { text-decoration: none }
.content { padding-top: 70px; }
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  text-align: left;
}
.inlineBlock {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

/* ------------------------------------------- forms */

.search-invitation {
  margin-right: 0 !important;
  position: relative;

  form {
    position: relative;
    input[type="text"],
    input[type="email"] { width: 260px; }
  }
  input {
    border: none;
    outline: none;
    line-height: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
  }
  input[type="text"],
  input[type="email"] {
    background: @white;
    border: none;
    color: @grey-25;
    padding: 0 40px 0 15px;
    width: 100%;
    outline: none;
  }
  input[type="submit"] {
    background: transparent;
    color: @grey-95;
    cursor: pointer;
    width: 40px;
    z-index: 1;
  }
  .icon {
    color: @grey-95;
    height: 40px;
    width: 40px;
    font-size: 1.2em;
    line-height: 40px;
    text-align: center;
    z-index: 0;
  }
  .icon, input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* ------------------------------------------- ctas */

.cta {
  .transition(all .4s);
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  font-size: .9em;
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.cta.white {
  background: @white;
  color: @grey-95;

  &:hover {
    background: @green-bf;
    color: @white;
  }
}
.cta.green-bf {
  background: @green-bf;
  color: @white;

  &:hover {
    background: @green-bf;
    color: @white;
  }
}
.cta.green-38 {
  background: @green-38;
  color: @white;

  &:hover {
    background: @green-bf;
    color: @white;
  }
}
.cta.grey-95 {
  background: @grey-95;
  color: @white;

  &:hover {
    background: @green-bf;
    color: @white;
  }
}
.cta.grey-25 {
  background: @grey-25;
  color: @white;

  &:hover {
    background: @green-bf;
    color: @white;
  }
}

/* ------------------------------------------- navigation */

.header-height {
  height: 70px;
  line-height: 70px;
}
.navigation {
  .header-height();

  .header {
    .header-height();
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;

    .wrapper {
      .header-height();

      .student-menu {
        float: right;

        .cta.green-38 { margin-right: 20px; }
      }
    }
    a {
      color: @white;
    }
    .logo {
      background: url('../img/logo-te-salve.svg') 0 0 no-repeat;
      display: inline-block;
      margin-top: 22.5px;
      height: 25px;
      width: 100px;
      text-indent: -9999px;
    }
    .user-menu {
      .transition(all .4s);
      background: @grey-25;
      float: right;
      height: 70px;
      overflow: hidden;

      li {

        a {
          .transition(all .4s);
          display: block;
          height: 70px;
          padding: 0 30px;
          width: 260px;

          span {
            .transition(all .4s);
            .opacity(.7);
            display: inline-block;
            width: 155px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .icon {
            .transition(all .4s);
            .opacity(.7);
            height: 20px;
            margin-top: 25px;
            width: 20px;
            float: right;
            font-size: 1.5em;
          }
          &:hover { padding: 0 25px; }
          &:hover {
            span, .icon { .opacity(1); }
          }
        }
        &:nth-child(1) { background: @red-d8; }
        &:nth-child(2) { background: @blue; }
        &:nth-child(3) { background: @green-bf; }
        &:nth-child(4) { background: @green-38; }
        &:nth-child(5) { background: @grey-25; }
        &:nth-child(6) { background: @red-ee; }
      }
    }
    &:before {
      .header-height();
      .pseudos();
      background: @red-ef;
      left: 0;
      right: 0;
    }
  }
}

/* ------------------------------------------- lateral menu */

.lateral-menu  {
  .transition(all .4s);
  .inlineBlock();
  width: 15%;
  position: relative;

  ul {
    position: relative;
    z-index: 1;

    li {

      a {
        .transition(all .4s);
        .header-height();
        border-right: 0 solid @red-ef;
        color: @white;
        display: block;
        padding-left: 0;
        position: relative;

        .icon {
          .transition(all .4s);
          .opacity(.5);
          position: relative;
          top: 1px;
          margin-right: 15px;
        }
        &:hover {
          border-right: 5px solid @red-ef;
          color: @red-ef;
          padding-left: 10px;

          .icon {
            .opacity(1);
            color: @red-ef;
          }
        }
        &:before {
          .pseudos();
          background: @grey-25;
          left: -9999px;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      a.selected {
        background: @grey-f1;
        border-right: 0 solid @grey-f1;
        color: @red-ef;
        font-weight: 600;

        .icon { .opacity(1); }
        &:hover {
          cursor: default;
          padding-left: 0;
        }
        &:before { background: @grey-f1; }
      }
    }
  }
  .bck {
    background: @grey-25;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &:before {
      .pseudos();
      background: @grey-25;
      left: -9999px;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

/* ------------------------------------------- popup */

.popup {
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .focus {
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }
  .content {
    position: relative;
    background: @grey-f1;
    padding: 30px;
    max-width: 600px;
    margin: 30px auto 0;
    text-align: left;
    z-index: 2;

    h3 {
      font-weight: 400;
      font-size: 1.5em;
    }
    .icon-close {
      .transition(all .2s);
      position: absolute;
      right: 30px;
      font-size: 1.5em;
      font-weight: 400;
      color: @grey-95;
      cursor: pointer;

      &:hover {
        .transform(rotate(180deg));
        color: @red-ef;
      }
    }
    .subjects-list {
      margin: 30px 0 10px 0;
      text-align: center;

      li {
        .inlineBlock();
        background: @white;
        width: 45%;
        margin: 0 10px 20px;
        cursor: pointer;

        .icon-notebook {
          .transition(all .4s);
          display: block;
          font-size: 2em;
          margin: 20px;
          color: @grey-f1;
        }
        .label {
          .transition(all .4s);
          line-height: 35px;
          display: block;
          height: 35px;
        }
        &:hover {
          .icon-notebook { color: @green-bf; }
          .label { background: @green-bf; }
        }
      }
    }
    .actions-footer { margin: 0; }
  }
}

/* ------------------------------------------- full content, right content */

.full-content,
.right-content {

  h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
  }
  h2 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 50px 0 15px 0;
  }
}
.full-content {
  padding-top: 30px;
}
.right-content {
  .inlineBlock();
  padding: 30px 0 0 30px;
  width: 100%;
  max-width: 85%;
}

/* ------------------------------------------- charts */

.charts {
  margin: 0 -15px;
  text-align: center;

  li {
      .inlineBlock();
      max-width: 30.04%;
      width: 100%;
      margin: 30px 15px 0 15px;
  }
}
.chart {
  background: @white;
  padding: 25px;
  text-align: left;

  i {
    display: inline-block;
    font-size: 5em;
    color: #f1f1f1;
  }
  .info {
    display: inline-block;
    text-align: right;
    float: right;
    vertical-align: top;

    span {
      display: block;
    }
    .number {
      font-size: 3.5em;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
}
.label {
  background: @green-38;
  color: @white;
  height: 60px;

  a {
    line-height: 60px;
    color: #fff;
    font-size: 1.2em;
    text-align: left;
    display: block;
    padding: 0 20px;

    i {
      float: right;
      position: relative;
      top: 22px;
    }
  }
}

/* ------------------------------------------- breadcrumb */

.breadcrumb {
  margin: 0 0 30px 0;

  ul {

    li {
      .inlineBlock();
      position: relative;

      a {
        color: @grey-25;
        font-size: .9em;
        text-decoration: underline;
      }
    }
    li + li {
      margin-left: 25px;

      &:before {
        .pseudos();
        .opacity(.5);
        content: ">";
        color: @grey-95;
        top: 1px;
        left: -15px;
        font-size: .8em;
      }
    }
  }
}

/* ------------------------------------------- actions footer */

.actions-footer {
  margin: 0 0 30px;
  overflow: hidden;

  hr {
    margin: 0 0 30px;
    border-top: 1px solid @grey-e3;
    border-bottom: 1px solid @white;
  }
  .left-side {
    float: left;
    text-align: left;
  }
  .right-side {
    float: right;
    text-align: right;
  }
  .cta + .cta { margin-left: 20px; }
}

/* ------------------------------------------- tabs */

.tabs {

  hr {
    margin: 0 0 30px;
    border-top: 1px solid @grey-e3;
    border-bottom: 1px solid @white;
  }
}
/* ------------------------------------------- tables */

.table {

  .filters-actions {
      text-align: right;

      .cta,
      .search-invitation { .inlineBlock(); }
      .cta.alone { margin-right: 0; }
      .cta + .cta,
      .cta + .search-invitation { margin-left: 30px; }
  }
  .list {
    border-collapse: collapse;
    margin: 15px 0 35px 0;
    width: 100%;

    /* header */
    th {
      background: @green-bf;
      color: @white;
      font-size: 1.2em;
    }
    /* background */
    tr {
      background: @white;
      position: relative;

      .list tr { background: @white; }
      &:nth-of-type(odd) {
        background: @grey-eb;

        .list tr { background: @grey-eb; }
        .list hr { border-top: 1px solid @white; }

      }
    }
    /* rows */
    td {
      position: relative;

      /* rows content */
      .icon {
        .transition(all .4s);
        .opacity(.3);
        .inlineBlock();
        color: #252525;
        cursor: pointer;
        font-size: 1.2em;
        line-height: 60px;
        margin-right: 10px;
        position: relative;
        top: -2px;

        &:hover {
          .opacity(1) !important;
          color: @grey-25;
        }
      }
      a {
        .transition(all .4s);
        .inlineBlock();
        color: @grey-95;
        line-height: 60px;
        height: 60px;
        width: 85%;
        overflow: hidden;
        position: relative;
        word-break: break-all;
        padding-right: 15px;

        &:hover {
          color: @grey-25;
          text-decoration: underline;
        }
      }
      .ellipsis-patch {

        &:before {
          .pseudos();
          content: "...";
          right: 0;
          letter-spacing: 1px;
        }
      }
      .right-actions {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 2;
        overflow: hidden;

        .icon {
          .inlineBlock();
          line-height: 60px;
          margin: 0 2.5px;
          top: 0;
          width: 30px;
          text-align: center;
        }
        .icon-trash { right: -30px; }
        .icon-pencil { right: -20px; }
        .icon-plus { right: -10px; }
        .icon-trash,
        .icon-pencil,
        .icon-plus {
          .opacity(0);
          color: @white;
          width: 0;
          overflow: hidden;

          &:hover { color: @green-bf; }
        }
        .bck {
          .transition(all .4s);
          .opacity(0);
          .border-radius(3px);
          background: @black;
          left: 115px;
          right: 25px;
          top: 5px;
          bottom: 5px;
          position: absolute;
          z-index: -1;
        }
      }
    }
    td, th {
      padding: 0 20px;
      text-align: left;
      vertical-align: middle;
      line-height: 60px;
      max-width: 200px;
    }
    /* table > table */
    .list {
      display: none;
      margin: 0;

      /* background */
      hr {
        border-left: 0;
        border-right: 0;
        border-top: 1px solid @grey-f1;
        border-bottom: 0;
        margin: 0;
      }
    }
  }
}
.subject-input-name {

  .input-name {
    display: inline-block;
    position: relative;
    width: 100%;

    input[type="text"] {
      background: transparent;
      border: none;
      border-bottom: 1px solid @grey-95;
      line-height: 30px;
      outline: none;
      padding: 0 60px 0 0;
      width: 100%;
    }
    input[type="submit"] {
      background: transparent;
      outline: none;
      z-index: 1;
    }
    .icon-check {
      color: @green-bf;
      right: 0;
    }
    .icon-close {
      color: @red-ef;
      right: 30px;
    }
    input[type="submit"],
    .icon-check, .icon-close {
      .opacity(1);
      border: 0;
      cursor: pointer;
      top: 0;
      line-height: 30px;
      height: 30px;
      width: 30px;
      margin: 0 -5px 0 0;
      padding: 0;
      position: absolute;
      text-align: center;
    }
    form {
      input[type="text"] {
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 30px;
        padding-bottom: 5px;
      }
    }
  }
}
.subject-input-name();
.table.empty {

  td {
    color: @grey-95;
    text-align: center;

    span { cursor: default; }
  }
}
.table.create-edit {

  .list {

    td {

      input[type="checkbox"] {
        margin-right: 10px;
        position: relative;
        top: -2px;
      }
      .subject-input-name();
      .input-name { width: 85%; }
      .input-name .icon-close,
      .input-name .icon-check { top: 15px; }
    }
  }
}
.table.topics,
.table.people,
.table.files,
.table.review {

    .list {

      tr.pending {

        span { color: @red-ee; }
      }
      td {

        span {
          color: @grey-95;
          display: inline-block;
          vertical-align: middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
        span.link {
          .transition(all .4s);
          cursor: pointer;
          position: relative;
          text-decoration: underline;

          .icon {
            .opacity(1);
            color: @red-ee;
            margin-left: 10px;
            top: 0;
          }
          &:hover {
            color: @green-bf;

            .icon { color: @green-bf; }
          }
        }
        .right-actions {

          .icon-trash {

            .opacity(.3);
            width: 30px;
            right: 0;
            overflow: inherit;
            color: @grey-25;
          }
        }
      }
    }
}
.table.topics {

    .list {

      td {

        .icon-folder,
        .icon-folder + span,
        .icon-folder-alt,
        .icon-folder-alt + span { float: left; }
        .icon-folder + span,
        .icon-folder-alt + span { width: 84%; }

        input[type="checkbox"] {
          margin-top: 23px;
          margin-right: 10px;
        }
        input[type="checkbox"] { float: left; }
        input[type="checkbox"] + span,
        input[type="checkbox"] + i + span { width: 80% !important; }
      }
    }
}
.table.review {

  .list {

    tr.correct {

      td {

        span { color: @green-38; }
      }
    }
    tr.wrong {

      td {

        span { color: @red-ef; }
      }
    }
  }
}
.navigation-table  {
  margin: 20px 0 35px 0;

  ul {
    text-align: center;

    li {
      .inlineBlock();
      margin: 0 5px;

      span {
        .transition(all .4s);
        border: 1px solid @white;
        cursor: pointer;
        display: block;
        height: 40px;
        line-height: 40px;
        width: 40px;

        &:hover {
          background: @green-bf;
          border-color: @green-bf;
          color: @white;
        }
      }
      .selected {
        background: @white;

        &:hover {
          background: inherit;
          border-color: inherit;
          color: inherit;
        }
      }
    }
  }
}
.extra-options {
  text-align: center;
  margin-bottom: 50px;

    .box {
      .inlineBlock();
      max-width: 33.1%;
      width: 100%;
      margin: 0;
      text-align: left;

      .title {
        display: block;
        font-weight: 600;
        margin-bottom: 30px;
      }
      ul {

        li {
          .inlineBlock();
          margin: 0;

          label {
            cursor: pointer;

            input[type="radio"],
            input[type="checkbox"] {
              position: relative;
              top: -1px;
              margin-right: 10px;

              &:checked + span { color: @grey-25; }
            }
            input[type="text"] {
              line-height: 40px;
              height: 40px;
              border: none;
              outline: none;
              padding: 0 10px;
              margin-right: 10px;
            }
            span { color: @grey-95; }
          }
        }
        li + li { margin-left: 20px; }
      }
    }
}

/* ------------------------------------------- create question */

/* topics selection */

.inputs-40 {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.topic-selection {
  .transition(all .4s);
  background: @white;
  height: 40px;
  margin: 30px 0 20px 0;
  position: relative;
  overflow: hidden;

  .select {
    .transition(all .4s);
    .inputs-40();
    cursor: pointer;
    color: @grey-25;

    .empty {
      .transition(all .4s);
      color: @grey-95;
      display: inline-block;
    }
    span {
      position: relative;
      display: inline-block;
    }
    span + span {

      &:before {
        .pseudos();
        display: inline-block;
        position: relative;
        content: ", ";
        margin-right: 5px;
      }
    }
    .icon {
      .transition(all .4s);
      color: @grey-25;
      height: 40px;
      line-height: 40px;
      float: right;
      font-size: .6em;

      &:before {
        .transition(all .4s);
        position: relative;
        top: 2px;
      }
    }
    &:hover {
      color: @green-bf;

      .empty { color: @green-bf; }
    }
  }
  .search-invitation {

    input[type="text"] {
      border-bottom: 1px solid @grey-eb;
      border-top: 1px solid @grey-eb;
    }
  }
  .topics {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;

    div {

      &:nth-of-type(odd) { background: @grey-eb; }
    }
    .topic {
      .inputs-40();
    }
    .subtopic {
      .inputs-40();
      padding-left: 20px;
    }
    .topic,
    .subtopic {

      input[type="checkbox"] {
        position: relative;
        top: -1px;
        margin-right: 5px;

        &:checked + .name { color: @grey-25; }
      }
      .name { color: @grey-95; }
    }
  }
}

/* question */

.question {
  margin: 0 0 20px 0;
  position: relative;

  input[type="text"] {
    background: @white;
    border: none;
    outline: none;
    line-height: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    color: @grey-25;
    padding: 0 30px 0 15px;
    width: 95%;
  }
  .question-mark {
    line-height: 40px;
    width: 25px;
    text-align: center;
    display: inline-block;
    margin-left: 17px;
  }
}

/* answers */

.answers {

  ul {

    li {
      position: relative;

      input[type='radio'] {
        margin-right: 5px;
      }
      .id {
        color: @grey-95;
        display: inline-block;
        margin-right: 10px;
      }
      input[type='text'] {
        .inputs-40();
        display: inline-flex;
        border: 0;
        border-bottom: 1px solid #fff;
        background: transparent;
        width: 90%;
        padding: 0 10px 0 0;
        outline: none;
      }
      .legend {
        display: block;
        font-size: .9em;
        font-style: italic;
        margin: 20px 0 30px 0;
      }
    }
  }
}

/* feedback */

.feedback {
  margin-bottom: 30px;
  position: relative;

  textarea {
    padding: 10px;
    border: none;
    width: 100%;
    height: 100px;
  }
  .file-action  {
    right: 0;

    .icon { background: @white; }
  }
}

/* file action button */

.file-action  {
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  width: 40px;

  input[type='file'] {
    .opacity(1);
    cursor: pointer;
    padding: 40px 0 0 40px;
    z-index: 2;

    &:hover + .icon {
      &:before { .opacity(1); }
    }
  }
  .icon {
    background: @grey-f1;
    color: @grey-25;
    z-index: 1;

    &:before {
      .transition(all .4s);
      .opacity(.3);
    }
  }
  input[type='file'], .icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
  }
}

/* ------------------------------------------- exercise */

.exercise {

  .intro {
    margin-bottom: 50px;

    .excercise-name {

      input[type="text"] {
        border: none;
        outline: none;
        line-height: 40px;
        height: 40px;
        padding: 0 15px;
        margin: 0;
        background: @white;
        color: @grey-25;
        width: 100%;
      }
    }
    .excercise-name, p {
      .inlineBlock();
      width: 48%;
      margin-top: 30px;
      margin-right: 0;
    }
    p {
      line-height: 20px;
      float: right;
    }
  }
  .question-results {
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 30px;

    p {
      float: left;
      width: 60%;
      line-height: 20px;
    }
    .results { float: right; }
  }
  .answers-list {
    margin-bottom: 40px;

    li {
      position: relative;

      label {
        cursor: pointer;

        .id,
        input,
        .answer {
          .inlineBlock();
          margin-right: 10px;
        }
        .answer {
          width: 70%;
          line-height: 20px;
          position: relative;
          top: -2px;
        }
        .cta.green-bf {
          .transition(all .4s);
          .opacity(0);
          .transform(scale(0));
          position: relative;
          top: -12px;

          &:before {
            .pseudos();
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 5px 0;
            border-color: transparent @green-bf transparent transparent;
            left: -5px;
            top: 50%;
            margin-top: -5px;
          }
        }
      }
      label.unselected { color: @grey-95; }
      label.selected {
        color: @grey-25;

        .cta.green-bf {
          .opacity(1);
          .transform(scale(1));
        }
      }
      label.wrong { color: @red-ef; }
      label.correct { color: @green-bf; }
    }
    li + li { margin-top: 15px; }
  }
  .explanation {

    h2 {
      margin: 0 0 15px;
      font-size: 1em;
    }
    p {
      margin-bottom: 30px;
      line-height: 20px;
      text-align: center;
      padding: 0 100px;
      font-style: italic;
    }
  }
}

/* ------------------------------------------- students */

.left-table {

  .list {
    margin: 0;

    tr > td {

      &:last-child { text-align: right; }
    }
  }
}
.score {

  .chart { height: 180px; }
}

.score + .score,
.left-table + .score { float: right; }

.score,
.left-table {
    .inlineBlock();
    width: 48%;
    margin-top: 30px;
    margin-right: 0;
}
.graphics { margin-bottom: 50px; }

/* ------------------------------------------- responsive */

/* tables */
@media
only screen and (max-width: 910px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  table, thead, tbody, th, td, tr { display: block; }
  table tbody tr:first-child { display: none; }
  table .list tbody tr:first-child { display: block; }
  tr:first-child  + tr { border-top: none; }
  .table .list tr td .list tr td .right-actions,
  .table .list tr:nth-of-type(odd) td .list tr td .right-actions { top: 1px }
  .table .list td,
  .table .list th {
    max-width: 95%;
    padding: 0 20px 0 105px;
  }
  td:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    background: #bfd730;
    color: #fff;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table .list td .icon.icon-folder + a,
  .table .list td .icon.icon-folder-alt + a { margin-left: 0; }
  .table .list td.table-actions {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .table.topics .list td .icon-folder,
  .table.topics .list td .icon-folder + span,
  .table.topics .list td .icon-folder-alt,
  .table.topics .list td .icon-folder-alt + span { float: inherit; }

  .table .left-table .list td,
  .table .left-table .list th {
    padding: 0 20px;
    display: block;
    font-weight: 600;
    text-align: left !important;
    line-height: 45px;
  }
  .table .left-table .list td:last-child,
  .table .left-table .list th:last-child {
    margin-top: -20px;
    font-weight: 100;
  }

  /* labels */

  .table.subjects .list td:nth-of-type(1):before { content: "Nombre"; }
  .table.questions .list td:nth-of-type(1):before { content: "Pregunta"; }

  .table.review .list td:nth-of-type(1):before { content: "Pregunta"; }
  .table.review .list td:nth-of-type(2):before { content: "Puntos"; }
  .table.review .list td:nth-of-type(3):before { content: "Respuesta"; }
  .table.review .list td:nth-of-type(4):before { content: "Review"; }

  .table.people .list td:nth-of-type(1):before { content: "Nombre"; }
  .table.people .list td:nth-of-type(2):before { content: "Correo"; }
  .table.people .list td:nth-of-type(3):before { content: "Invitación"; }
  .table.people .list td:nth-of-type(4):before { content: ""; }

  .table.files .list td:nth-of-type(1):before { content: "Nombre"; }
  .table.files .list td:nth-of-type(2):before { content: "Materia"; }
  .table.files .list td:nth-of-type(3):before { content: "Tema"; }

  .table.topics .list td:nth-of-type(1):before { content: "Nombre"; }
  .table.topics .list td:nth-of-type(2):before { content: ""; }
  .table.topics .list td:nth-of-type(3):before { content: "Puntos"; }
  .table.topics .list td:nth-of-type(4):before { content: "Preguntas"; }
  .table.topics .list td:nth-of-type(5):before { content: "Comienzo"; }
  .table.topics .list td:nth-of-type(6):before { content: "Tiempo"; }
  .table.topics .list td:nth-of-type(7):before { content: "Estado"; }
}

@media
(max-width: 1200px) {
  .right-content .charts li { max-width: 40%; }
}
@media
(max-width: 1130px) {
  .extra-options { margin-bottom: 30px; }
  .extra-options .box {
    max-width: 40%;
    margin-bottom: 30px;
  }
}
@media
(max-width: 1105px) {
  .actions-footer .left-side .cta + .cta,
  .actions-footer .right-side .cta + .cta { margin-top: 10px; }
  .actions-footer .left-side .cta,
  .actions-footer .right-side .cta {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media
(max-width: 1050px) {
  .table .list td a { width: 70%; }
}
@media
(max-width: 940px) {
  .extra-options .box {
    max-width: 100%;
    text-align: center;
  }
  .extra-options .box:nth-child(2) .title { display: none; }
}
@media
(max-width: 810px) {
  .lateral-menu {
    width: 38px;
    position: fixed;
  }
  .right-content {
    max-width: 100%;
    padding-left: 68px;
  }
  .lateral-menu ul li a:hover { padding-left: 0; }
  .lateral-menu ul li a span { .opacity(0); }
  .lateral-menu ul li a .icon { margin-right: 25px; }
}
@media
(max-width: 785px) {
  .table.create-edit .list td .input-name { width: 70%; }
}
@media
(max-width: 700px) {
  .right-content .charts { margin: 0; }
  .right-content .charts li {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media
(max-width: 620px) {
  .navigation .header .wrapper .student-menu .cta.green-38 { display: none; }
}
@media
(max-width: 600px) {
  .exercise .intro .excercise-name, .exercise .intro p {
    display: block;
    width: 100%;
    float: inherit;
  }
}
@media
(max-width: 580px) {
  .table .filters-actions .cta { margin-right: 0; }
  .table .filters-actions .search-invitation {
    display: block;
    margin-top: 10px;
  }
  .table .filters-actions .cta + .cta,
  .table .filters-actions .cta + .search-invitation { margin-left: 0; }
  .search-invitation form input[type="text"],
  .search-invitation form input[type="email"] { width: 100%; }
  .table .list td .input-name,
  .table.create-edit .list td .input-name,
  .table .list td .icon + a { width: 90%; }
  .table .list td a { width: 100%; }
  .table .list td .right-actions { display: none; }
  .table .list td .icon + .input-name,
  .table.create-edit .list td .icon + .input-name { width: 80%; }
  .table .list td .icon.icon-folder { display: none; }
  .score, .left-table { width: 100%; }
  .score + .score,
  .left-table + .score { float: inherit; }
}
@media
(max-width: 555px) {
  td:before {
    padding: 0 10px;
    font-size: .7em;
    width: 40px;
  }
  .table .list td,
  .table .list th { padding: 0 20px 0 70px; }
}
@media
(max-width: 490px) {
  .actions-footer .left-side {
    float: none;
    padding-bottom: 20px;
    margin-bottom: 21px;
    border-bottom: 1px solid #f8f8f8;
  }
  .actions-footer .right-side { float: none; }
}
@media
(max-width: 455px) {
  .content.wrapper { padding-bottom: 20px; }
  .navigation .header .user-menu li a { width: 80px; }
  .navigation .header .user-menu li a:hover { padding: 0 30px; }
  .navigation .header .user-menu li a span { display: none; }
  .right-content h1 { font-size: 1.5em; }
}
@media
(max-width: 400px) {
  .table .filters-actions { margin-top: 20px; }
  .table .filters-actions .cta {
    width: 100%;
    text-align: center;
  }
}
