/* ------------------------------------------- variables */
/* ------------------------------------------- variables */
/* ------------------------------------------- mixins */
/* ------------------------------------------- general */
* {
  box-sizing: border-box;
}
html {
  font-size: 10pt;
}
html,
body {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  text-align: left;
}
.opacity-fontsize {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  font-size: 1.5rem;
}
/* ------------------------------------------- ctas */
.cta {
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  outline: none;
  text-transform: uppercase;
}
.cta.v1 {
  background: #4f5872;
}
.cta.v2 {
  background: #bfd730;
}
.cta.v3 {
  background: #252525;
  border: 1px solid #bfd730;
  line-height: 20px;
}
/* ------------------------------------------- sections */
.section {
  position: relative;
}
.focus {
  background: rgba(37, 37, 37, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.title {
  font-size: 4rem;
  text-transform: uppercase;
}
.title span {
  display: block;
  font-size: 2rem;
  line-height: 50px;
  padding-left: 8px;
  text-transform: lowercase;
}
/* ------------------------------------------- section #1 */
.section1 {
  background: url('../img/video01/video01.jpg') 0 0 no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.section1 video {
  left: 50%;
  top: 0;
  position: absolute;
  z-index: 0;
  margin-left: -960px;
}
.section1 .text {
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
  top: 50%;
  margin-top: -165px;
}
.section1 .text .logo {
  display: block;
  margin-bottom: 25px;
}
.section1 .text h1 {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 1.87rem;
  font-weight: 100;
  margin-bottom: 25px;
  padding: 20px 0;
}
.section1 .text p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.section1 .text ul {
  overflow: hidden;
}
.section1 .text ul li {
  display: inline-block;
  margin: 0;
}
.section1 .text ul li .cta {
  width: 190px;
}
.section1 .text ul li:nth-child(1) {
  float: left;
}
.section1 .text ul li:nth-child(2) {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  font-size: 1.5rem;
  line-height: 40px;
}
.section1 .text ul li:nth-child(3) {
  float: right;
}
.section1 .saber-mas {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  font-size: 1.5rem;
  font-size: 1.1rem;
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}
.section1 .saber-mas .icon {
  display: block;
  font-size: 1.3rem;
}
.section1 .text,
.section1 .saber-mas {
  position: relative;
  z-index: 2;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translatey(15px);
    -moz-transform: translatey(15px);
    -ms-transform: translatey(15px);
    -o-transform: translatey(15px);
    transform: translatey(15px);
  }
  40% {
    -webkit-transform: translatey(5px);
    -moz-transform: translatey(5px);
    -ms-transform: translatey(5px);
    -o-transform: translatey(5px);
    transform: translatey(5px);
  }
  60% {
    -webkit-transform: translatey(8px);
    -moz-transform: translatey(8px);
    -ms-transform: translatey(8px);
    -o-transform: translatey(8px);
    transform: translatey(8px);
  }
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
/* ------------------------------------------- section 2 */
.section2 {
  background: url('../img/back-video.jpg') 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;
}
.section2 h2 {
  font-size: 3rem;
  margin: 0 auto;
  padding: 250px 0 170px;
  position: relative;
  max-width: 600px;
  width: 100%;
}
.section2 h2 .icon {
  background: url('../img/icon-play.png') 0 0 no-repeat;
  height: 78px;
  width: 78px;
  position: absolute;
  top: 170px;
  left: 260px;
}
.section2 h2 .logo {
  display: inline-block;
  width: 195px;
}
/* ------------------------------------------- section 3 y 4 */
.section3,
.section4 {
  background: #252525;
}
.section3 .wrapper,
.section4 .wrapper {
  padding-top: 100px;
}
.section3 .wrapper img,
.section4 .wrapper img {
  display: block;
  margin: 0 auto;
  max-width: 801px;
  width: 100%;
}
.section3 .wrapper .title {
  display: inline-block;
  font-weight: 600;
  max-width: 35%;
}
.section3 .wrapper img {
  display: inline-block;
  max-width: 64%;
  vertical-align: middle;
}
.section4 {
  background: #ef4249;
}
.section4 .wrapper {
  text-align: right;
}
.section4 .wrapper .title {
  font-weight: 600;
  display: inline-block;
  max-width: 39%;
  vertical-align: middle;
}
.section4 .wrapper img {
  max-width: 60%;
  display: inline-block;
  vertical-align: middle;
}
/* ------------------------------------------- section 5 */
.section5 {
  background: url('../img/video02/video02.jpg') 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}
.section5 video {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 0;
  margin-left: -960px;
  margin-top: -540px;
}
.section5 h4 {
  padding: 125px 0;
  position: relative;
  z-index: 1;
}
/* ------------------------------------------- section 6 */
.section6 {
  background: #959595;
}
.section6 .wrapper {
  padding-top: 50px;
}
.section6 .txt {
  padding: 0 50px 0 0;
  display: inline-block;
  max-width: 39%;
  vertical-align: middle;
}
.section6 .txt p {
  font-size: 1.4rem;
  line-height: 30px;
}
.section6 .txt p + p {
  margin-top: 35px;
}
.section6 img {
  display: inline-block;
  margin: 0 auto;
  max-width: 55%;
  vertical-align: middle;
}
/* ------------------------------------------- section 7 */
.section7 {
  background: url('../img/back-thick.png') center right no-repeat #252525;
  padding: 100px 0;
}
.section7 .txt {
  text-align: center;
}
.section7 .txt h5 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.section7 .txt a {
  color: #959595;
  display: block;
  font-size: 1.2rem;
  line-height: 20px;
}
.section7 .txt ul {
  margin-top: 20px;
}
.section7 .txt ul li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.section7 .txt ul li a {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
.section7 .txt ul li .twitter {
  background: url('../img/icon-twitter.png') center center no-repeat;
}
.section7 .txt ul li .facebook {
  background: url('../img/icon-facebook.png') center center no-repeat;
}
.section7 .txt ul li .instagram {
  background: url('../img/icon-instagram.png') center center no-repeat;
}
.section7 .form {
  max-width: 40%;
  width: 100%;
}
.section7 .form form {
  overflow: hidden;
}
.section7 .form form select,
.section7 .form form textarea,
.section7 .form form input[type='text'] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #ffffff;
  border: none;
  outline: none;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  width: 100%;
}
.section7 .form form textarea {
  height: 120px;
}
.section7 .form form input + input,
.section7 .form form input + select,
.section7 .form form select + textarea,
.section7 .form form textarea + input {
  margin-top: 20px;
}
.section7 .form form input[type='submit'] {
  float: right;
  width: 110px;
  text-align: center;
}
/* ------------------------------------------- try */
.section7.try {
  background: url('../img/back-thick.png') center center no-repeat #4f5872;
  overflow: hidden;
  padding: 70px 0;
}
.section7.try .txt {
  float: left;
  text-align: left;
}
.section7.try .wrapper {
  text-align: center;
}
.section7.try .form {
  display: inline-block;
  text-align: left;
}
.section7.try .form h3 {
  margin-bottom: 40px;
}
.section7.try .form h3 span {
  padding: 0;
}
.section7.try .promo-icon {
  -webkit-transform: rotatez(-5deg);
  -moz-transform: rotatez(-5deg);
  -ms-transform: rotatez(-5deg);
  -o-transform: rotatez(-5deg);
  transform: rotatez(-5deg);
  display: inline-block;
  text-align: center;
  max-width: 30%;
  vertical-align: top;
}
.section7.try .promo-icon .icon-present {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 5px solid #ffffff;
  width: 150px;
  height: 150px;
  display: block;
  font-size: 5em;
  line-height: 135px;
  margin: 0 auto 15px auto;
}
.section7.try .promo-icon span {
  font-size: 4em;
  background: #000;
  padding: 0 20px;
  text-transform: uppercase;
  line-height: 90px;
}
.section7.try .list-icons {
  text-align: center;
  margin: 50px 0 0 0;
}
.section7.try .list-icons li {
  display: inline-block;
  padding: 0 30px;
  max-width: 25%;
}
.section7.try .list-icons li i {
  display: block;
  margin: 0 auto 25px auto;
  font-size: 3em;
}
.section7.try .list-icons li span {
  font-size: 1.2em;
  line-height: 22px;
}
.section7.try .list-icons li + li {
  margin-right: -4px;
}
/* ------------------------------------------- footer */
.footer p {
  color: #959595;
  font-size: 1.1rem;
  padding: 25px 0;
}
/* ------------------------------------------- responsive */
@media (max-width: 910px) {
  .section7 {
    background: url(../img/back-thick.png) center center no-repeat #252525;
  }
  .section7 .txt {
    float: inherit;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 850px) {
  .section6 .txt {
    padding: 50px 0 60px 0;
    overflow: inherit;
  }
  .section6 .txt p {
    font-size: 1.8rem;
    line-height: 30px;
    width: 100%;
    float: inherit !important;
    text-align: center !important;
    padding: 0 !important;
  }
  .section6 .txt p + p {
    margin-top: 25px;
  }
}
@media (max-width: 775px) {
  .section3 .wrapper,
  .section4 .wrapper {
    padding-top: 60px;
  }
  .section3 .title,
  .section4 .title {
    font-size: 3rem;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .section3 .title span,
  .section4 .title span {
    line-height: 30px;
  }
}
@media (max-width: 580px) {
  .section2 h2 {
    font-size: 2rem;
  }
  .section2 h2 .logo {
    display: none;
  }
  .section2 h2 .icon {
    top: 150px;
    left: 50%;
    margin-left: -39px;
  }
  .section7.try {
    background: url(../img/back-thick.png) top center no-repeat #4f5872;
  }
  .section7.try .form {
    display: block;
    text-align: left;
    max-width: 100%;
  }
  .section7.try .promo-icon {
    display: block;
    max-width: 100%;
  }
  .section7.try .list-icons {
    margin: 50px 0 -50px 0;
  }
  .section7.try .list-icons li {
    max-width: 50%;
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .section1 .text {
    padding: 0 20px;
  }
  .section1 .text h1 {
    font-size: 1.2rem;
  }
  .section1 .text p {
    font-size: 1.1rem;
  }
  .section1 .text ul li {
    display: block;
    float: inherit !important;
    width: 100%;
  }
  .section1 .text ul li .cta {
    width: 100%;
  }
}
