/* ------------------------------------------- variables */
@white: #fff;
@black: #000;
@focus: rgba(37,37,37,.5);
@lines: rgba(250,250,250,.2);
@green: #bfd730;
@blue: #4f5872;
@grey95: #959595;
@grey25: #252525;

/* ------------------------------------------- mixins */

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
.transitionDelay (@transition-delay) {
  -webkit-transition-delay: @transition-delay;
  -moz-transition-delay: @transition-delay;
  -ms-transition-delay: @transition-delay;
  -o-transition-delay: @transition-delay;
  transition-delay: @transition-delay;
}
.transitions (@transition1, @transition2) {
  -webkit-transition: @transition1, @transition2;
  -moz-transition: @transition1, @transition2;
  -ms-transition: @transition1, @transition2;
  -o-transition: @transition1, @transition2;
  transition: @transition1, @transition2;
}
.transform (@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}
.text-shadow (@textshadow) {
  -webkit-text-shadow: @textshadow;
  -moz-text-shadow: @textshadow;
  -ms-text-shadow: @textshadow;
  -o-text-shadow: @textshadow;
  text-shadow: @textshadow;
}
.box-shadow (@boxshadow) {
  -webkit-box-shadow: @boxshadow;
  -moz-box-shadow: @boxshadow;
  -ms-box-shadow: @boxshadow;
  -o-box-shadow: @boxshadow;
  box-shadow: @boxshadow;
}
.box-sizing (@boxsize) {
  -webkit-box-sizing: @boxsize;
  -moz-box-sizing: @boxsize;
  -ms-box-sizing: @boxsize;
  -o-box-sizing: @boxsize;
  box-sizing: @boxsize;
}
.filter (@filter) {
  -webkit-filter: @filter;
  -moz-filter: @filter;
  -ms-filter: @filter;
  -o-filter: @filter;
  filter: @filter;
}
.opacity (@opacity) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  -ms-opacity: @opacity;
  -o-opacity: @opacity;
  opacity: @opacity;
}
.backgroundsize (@backgroundsize) {
  -webkit-background-size: @backgroundsize;
  -moz-background-size: @backgroundsize;
  -ms-background-size: @backgroundsize;
  -o-background-size: @backgroundsize;
  background-size: @backgroundsize;
}
.border-radius (@borderradius) {
  -webkit-border-radius: @borderradius;
  -moz-border-radius: @borderradius;
  -ms-border-radius: @borderradius;
  -o-border-radius: @borderradius;
  border-radius: @borderradius;
}
.animation (@animation) {
  -webkit-animation: @animation;
  -moz-animation: @animation;
  -ms-animation: @animation;
  -o-animation: @animation;
  animation: @animation;
}
.column-gap (@columngap) {
  -webkit-column-gap: @columngap;
  -moz-column-gap: @columngap;
  -ms-column-gap: @columngap;
  -o-column-gap: @columngap;
  column-gap: @columngap;
}
.column-count (@columncount) {
  -webkit-column-count: @columncount;
  -moz-column-count: @columncount;
  -ms-column-count: @columncount;
  -o-column-count: @columncount;
  column-count: @columncount;
}

/* ------------------------------------------- general */

* {
  box-sizing: border-box;
}
html {
  font-size: 10pt;
}
html, body {
  color: @white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }
}
a { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  text-align: left;
}
.opacity-fontsize {
  .opacity(.5);
  font-size: 1.5rem;
}

/* ------------------------------------------- ctas */

.cta {
  border: none;
  color: @white;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  outline: none;
  text-transform: uppercase;
}
.cta.v1 { background: @blue; }
.cta.v2 { background: @green; }
.cta.v3 {
  background: @grey25;
  border: 1px solid @green;
  line-height: 20px;
}

/* ------------------------------------------- sections */

.section { position: relative; }
.focus {
  background: @focus;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.title {
  font-size: 4rem;
  text-transform: uppercase;

  span {
    display: block;
    font-size: 2rem;
    line-height: 50px;
    padding-left: 8px;
    text-transform: lowercase;
  }
}

/* ------------------------------------------- section #1 */

.section1 {
  background: url('../img/video01/video01.jpg') 0 0 no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  video {
    left: 50%;
    top: 0;
    position: absolute;
    z-index: 0;
    margin-left: -960px;
  }
  .text {
    margin: 0 auto;
    max-width: 430px;
    width: 100%;
    top: 50%;
    margin-top: -165px;

    .logo {
      display: block;
      margin-bottom: 25px;
    }
    h1 {
      border-top: 1px solid @lines;
      border-bottom: 1px solid @lines;
      font-size: 1.87rem;
      font-weight: 100;
      margin-bottom: 25px;
      padding: 20px 0;
    }
    p {
      .opacity-fontsize();
      margin-bottom: 20px;
    }
    ul {
      overflow: hidden;

      li {
        display: inline-block;
        margin: 0;

        .cta { width: 190px; }
        &:nth-child(1) { float: left; }
        &:nth-child(2) {
          .opacity-fontsize();
          line-height: 40px;
        }
        &:nth-child(3) { float: right; }
      }
    }
  }
  .saber-mas {
    .opacity-fontsize();
    font-size: 1.1rem;
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;

    .icon {
      display: block;
      font-size: 1.3rem;
    }
  }
  .text,
  .saber-mas {
    position: relative;
    z-index: 2;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { .transform(translateY(15px)); }
  40% { .transform(translateY(5px)); }
  60% { .transform(translateY(8px)); }
}
.bounce { .animation(bounce 2s infinite); }

/* ------------------------------------------- section 2 */

.section2 {
  background: url('../img/back-video.jpg') 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;

  h2 {
    font-size: 3rem;
    margin: 0 auto;
    padding: 250px 0 170px;
    position: relative;
    max-width: 600px;
    width: 100%;

    .icon {
      background: url('../img/icon-play.png') 0 0 no-repeat;
      height: 78px;
      width: 78px;
      position: absolute;
      top: 170px;
      left: 260px;
    }
    .logo {
      display: inline-block;
      width: 195px;
    }
  }
}

/* ------------------------------------------- section 3 y 4 */

.section3, .section4 {
  background: #252525;

  .wrapper {
    padding-top: 100px;

    img {
      display: block;
      margin: 0 auto;
      max-width: 801px;
      width: 100%;
    }
  }
}
.section3 {

  .wrapper {

    .title {
      display: inline-block;
      font-weight: 600;
      max-width: 35%;
    }
    img {
      display: inline-block;
      max-width: 64%;
      vertical-align: middle;
    }
  }
}
.section4 {
  background: #ef4249;

  .wrapper {
    text-align: right;

    .title {
      font-weight: 600;
      display: inline-block;
      max-width: 39%;
      vertical-align: middle;
    }
    img {
      max-width: 60%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* ------------------------------------------- section 5 */

.section5 {
  background: url('../img/video02/video02.jpg') 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;

  video {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 0;
    margin-left: -960px;
    margin-top: -540px;
  }
  h4 {
    padding: 125px 0;
    position: relative;
    z-index: 1;
  }
}

/* ------------------------------------------- section 6 */

.section6 {
  background: @grey95;

  .wrapper { padding-top: 50px; }
  .txt {
    padding: 0 50px 0 0;
    display: inline-block;
    max-width: 39%;
    vertical-align: middle;

    p {
      font-size: 1.4rem;
      line-height: 30px;
    }
    p + p { margin-top: 35px; }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    max-width: 55%;
    vertical-align: middle;
  }
}

/* ------------------------------------------- section 7 */

.section7 {
  background: url('../img/back-thick.png') center right no-repeat @grey25;
  padding: 100px 0;

  .txt {
    text-align: center;

    h5 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
    a {
      color: @grey95;
      display: block;
      font-size: 1.2rem;
      line-height: 20px;
    }
    ul {
      margin-top: 20px;

      li {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;

        a {
          width: 20px;
          height: 20px;
          text-indent: -9999px;
        }
        .twitter { background: url('../img/icon-twitter.png') center center no-repeat; }
        .facebook { background: url('../img/icon-facebook.png') center center no-repeat; }
        .instagram { background: url('../img/icon-instagram.png') center center no-repeat; }
      }
    }
  }
  .form {
    max-width: 40%;
    width: 100%;

    form {
      overflow: hidden;

      select, textarea,
      input[type='text'] {
        .border-radius(0);
        background: @white;
        border: none;
        outline: none;
        line-height: 40px;
        height: 40px;
        padding: 0 15px;
        width: 100%;
      }
      textarea { height: 120px; }
      input + input,
      input + select,
      select + textarea,
      textarea + input { margin-top: 20px; }
      input[type='submit'] {
        float: right;
        width: 110px;
        text-align: center;
      }
    }
  }
}

/* ------------------------------------------- try */

.section7.try {
  background: url('../img/back-thick.png') center center no-repeat @blue;
  overflow: hidden;
  padding: 70px 0;

  .txt {
    float: left;
    text-align: left;
  }
  .wrapper { text-align: center; }
  .form {
    display: inline-block;
    text-align: left;

    h3 {
      margin-bottom: 40px;

      span {
        padding: 0;
      }
    }
  }
  .promo-icon {
    .transform(rotateZ(-5deg));
    display: inline-block;
    text-align: center;
    max-width: 30%;
    vertical-align: top;

    .icon-present {
      .border-radius(50%);
      position: relative;
      border: 5px solid #ffffff;
      width: 150px;
      height: 150px;
      display: block;
      font-size: 5em;
      line-height: 135px;
      margin: 0 auto 15px auto;
    }
    span {
      font-size: 4em;
      background: #000;
      padding: 0 20px;
      text-transform: uppercase;
      line-height: 90px;
    }
  }
  .list-icons {
    text-align: center;
    margin: 50px 0 0 0;

    li {
      display: inline-block;
      padding: 0 30px;
      max-width: 25%;

      i {
        display: block;
        margin: 0 auto 25px auto;
        font-size: 3em;
      }
      span {
        font-size: 1.2em;
        line-height: 22px;
      }
    }
    li + li { margin-right: -4px; }
  }
}

/* ------------------------------------------- footer */

.footer {

  p {
    color: @grey95;
    font-size: 1.1rem;
    padding: 25px 0;
  }
}

/* ------------------------------------------- responsive */

@media
(max-width: 910px) {
  .section7 { background: url(../img/back-thick.png) center center no-repeat #252525; }
  .section7 .txt {
    float: inherit;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media
(max-width: 850px) {
  .section6 .txt {
    padding: 50px 0 60px 0;
    overflow: inherit;
  }
  .section6 .txt p {
    font-size: 1.8rem;
    line-height: 30px;
    width: 100%;
    float: inherit !important;
    text-align: center !important;
    padding: 0 !important;
  }
  .section6 .txt p + p { margin-top: 25px; }
}
@media
(max-width: 775px) {
  .section3 .wrapper,
  .section4 .wrapper { padding-top: 60px; }
  .section3 .title,
  .section4 .title {
    font-size: 3rem;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .section3 .title span,
  .section4 .title span { line-height: 30px; }
}
@media
(max-width: 580px) {
  .section2 h2 { font-size: 2rem; }
  .section2 h2 .logo { display: none; }
  .section2 h2 .icon {
    top: 150px;
    left: 50%;
    margin-left: -39px;
  }
  .section7.try { background: url(../img/back-thick.png) top center no-repeat #4f5872; }
  .section7.try .form {
    display: block;
    text-align: left;
    max-width: 100%;
  }
  .section7.try .promo-icon {
    display: block;
    max-width: 100%;
  }
  .section7.try .list-icons { margin: 50px 0 -50px 0; }
  .section7.try .list-icons li {
    max-width: 50%;
    margin-bottom: 50px;
  }
}
@media
(max-width: 450px) {
  .section1 .text { padding: 0 20px; }
  .section1 .text h1 { font-size: 1.2rem; }
  .section1 .text p { font-size: 1.1rem; }
  .section1 .text ul li {
    display: block;
    float: inherit !important;
    width: 100%;
  }
  .section1 .text ul li .cta { width: 100%; }
}
